* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", sans-serif;
}

p,
a {
    font-family: "Roboto", sans-serif;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1330px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.clear {
    clear: both;
}

section#sidebar {
    width: 20%;
    background-image: linear-gradient(rgba(155, 1, 73, 0.574),
            rgba(265, 57, 11, 09)), url("../view.jpg");
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    height: 100%;
}

.sidebar-brand {
    padding: 50px 40px;
}

.sidebar-menu ul li a {
    display: block;
    color: white;
    padding: 10px 40px;
}

.sidebar-brand {
    margin-top: 50px;
}

.sidebar-menu li:hover {
    background-color: #000;
}

.sidebar-menu li span {
    padding-left: 10px;
}

section#main-content {
    width: 80%;
    float: right;
}

.main-header {
    position: fixed;
    background-color: #fff;
    box-shadow: 10px 10px 20px #bbb;
    width: 100%;
}
.header-left{
    float: left;
    width: 33%;
    padding: 20px;
}
.header-left img{
    width: 13%;
    float: left;
    padding-right: 20px;
}
